{% extends "base.html" %}
{% load static %}

{% block link_style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title_name %}
    Главная страница
{% endblock %}

{% block content %}
    <div class="home-content">
        <h1 class="home-title">Добро пожаловать!</h1>
        <p class="home-text">
            Мы рады приветствовать вас в нашем интернет-магазине. 
            Здесь вы найдете лучшие товары по выгодным ценам.
        </p>
        <a href="{% url 'catalog' %}" class="catalog-link">
            Перейти в каталог →
        </a>
    </div>
{% endblock %}