<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <header class="header">
        <nav>
            <ul class="nav-list">
                <li><a href="{% url 'home' %}" class="nav-link">Главная</a></li>
                <li><a href="{% url 'catalog' %}" class="nav-link">Каталог</a></li>
                <li><a href="{% url 'cart' %}" class="nav-link">Корзина</a></li>
                <li><a href="{% url 'about' %}" class="nav-link">О нас</a></li>
                <li><a href="{% url 'profile' %}" class="nav-link">Профиль</a></li>
                <li><a href="{% url 'category_list' %}" class="nav-link">Категории</a></li>
                <li><a href="{% url 'tag_list' %}" class="nav-link">Теги</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Добро пожаловать на главную страницу!</h1>
        <p>Это начальная страница проекта.</p>
    </main>
</body>
</html>
