{% load static %}

<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title_name %}
    {% endblock %}</title>

    {% block link_style %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% endblock %}

</head>
<body class="container">
{% block body %}
    {% block header %}
        {% include '_inc/_header.html' %}
    {% endblock %}

    <main>
        {% block content %}

        {% endblock %}
    </main>

    {% block footer %}
        {% include '_inc/_footer.html' %}
    {% endblock %}
{% endblock %}
</body>
</html>